<hr />
<footer>
    <p>&copy; {{ DateTime }} - My ASP.NET Application</p>
</footer>
    </div>
        <script src="{{ JqueryBundle }}" type="text/javascript"></script>
        <script src="{{ BootstrapBundle }}" type="text/javascript"></script>
        <script src="{{ ScriptBundle }}" type="text/javascript"></script>
    </body>
</html>